<% include partials/header %>

<h1>create a new expense</h1>
<%= typeof msg != "undefined" ? msg : "" %>
<form action="/expenses" method="POST">
    <select name="category" style="display: block">
      <option value="Entertainment">Entertainment</option>
      <option value="FoodDinning">FoodDinning</option>
      <option value="Shopping">Shopping</option>
      <option value="PersonalCare">PersonalCare</option>
    </select>
    <input type="text" name="name" placeholder="epx-name">
    <input type="text" name="price" placeholder="epx-price">
    <input type="date" name="date">
    <button>Submit</button>
</form>
<a href="/expenses">Go Back</a>
<% include partials/footer %>